/** module 锁定层样式 */
.active.pop-lock-layer { visibility: visible; }
.pop-lock-layer { visibility: hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.pop-lock-layer-back, .pop-lock-layer-body { width: 100%; height: 100%;  }
.pop-lock-layer-back { position: absolute; top: 0; left: 0; background: #000; opacity: .2733; filter:alpha(opacity=27); }
.pop-lock-layer-body { position: relative; overflow: auto; }

/** module 弹窗样式 */
.pop-dialog-open { overflow: hidden; } /* 给 body 的样式属性 */
.pop-dialog { position: absolute; top: 0; left: 50%;  -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }
.pop-dialog-close { position:absolute; top:.5rem; right:.5rem; width:1.4rem; height:1.4rem; }
.pop-dialog-close:before, .pop-dialog-close:after { content:""; position:absolute; top:0; left: 45%; width:15%; height:100%; background:#999; }
.pop-dialog-close:before { -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); }
.pop-dialog-close:after { -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }

/** 白色弹窗 */
/** module 白色弹窗样式 */
.pop-dialog-white { background: #fff; border-radius: .5rem; font-size: 1.4rem; line-height: 150%; }
.pop-dialog-title { padding-top: 1rem; text-align: center; color: #fd6f60; }
.pop-dialog-btn { display: inline-block; padding: .5rem 2rem; margin: 0 .8rem; text-align: center; color: #fff; vertical-align: middle; border-radius: .5rem; -webkit-transition: opacity .2s ease; transition: opacity .2s ease; }
.pop-dialog-btn:hover { text-decoration: none; opacity: .8; }
.pop-dialog-cancel { background-color: #999; }
.pop-dialog-sure { background-color: #02b4fe; }

/** module 确认弹窗 */
.pop-dialog-confirm { min-width: 68%; padding-bottom: 1.5rem; }
.pop-dialog-confirm .content { padding: 1.5rem 1rem 0 1rem; text-align: center; }
.pop-dialog-confirm .operation { padding-top: 1.5rem; text-align: center; }


/** module 自动提醒 */
.pop-auto { position: fixed; left: 0; bottom: 10%; width: 100%; text-align: center; }
.pop-auto-tip {
    display: inline-block;
    line-height: 120%;
    padding: 1rem 2rem;
    font-size: 1.4rem; color: #fff;
    background-color:rgba(0,0,0,.8);
    border-radius: .4rem;
    opacity: 0;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
    -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
            transition: opacity .3s ease, transform .3s ease;
}
.active .pop-auto-tip {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
}
